stages: 
    - build
    - deploy
variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
cache:
  paths:
    - .m2/repository
build:
  stage: build
  script:
    - mvn -B -DskipTests package
  artifacts:
    paths:
      - target/*.jar
deploy:
  stage: deploy
  image: curlimages/curl:latest
  script:
    -echo "triggering render deploy"
    - >
      curl -X POST https://api.render.com/v1/services/$RENDER_SERVICE_ID/deploys
      -H "Authorization: Bearer "$api_key_to_be_written"
  only:
    - main