stages: 
    - deploy
pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp index.html public/
    - cp tracker.html public/
    - cp css.style public/ || true
  artifacts:
    paths:
      - public
  only:
    - main