/* black/grey/red/white theme */

body {
  font-family: Arial, sans-serif;
  background: #0e0d0c;              /* black background */
  color: #fef1ed;                /* light pinkish text */
  margin: 0;
  padding: 2rem;
  text-align: center;
}

h1, p {
  margin-bottom: 1rem;
}

.auth-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  background: #8b8784;               /* grey */
  color: #fef1ed;                    /* pink text */
  border: 2px solid #c94644;      /* red accent */
  padding: .8rem 1.4rem;
  font-size: 1rem;
  border-radius: 12px;            /* smooth rounded */
  cursor: pointer;
  transition: 0.25s ease;
}

button:hover {
  background: #c94644;            /* red fill on hover */
  color: #fef1ed;
  transform: translateY(-2px);
}

/* making the user input boxes cute */
input {
  border-radius: 12px;
  border: 1px solid #333;
  padding: 0.6rem 0.8rem;
  background:#0e0d0c;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

li {
  background: #8b8784;
  margin: 0.3rem 0;
  padding: 0.7rem;
  border-radius: 0.6rem;
  border: 1px solid #c94644;
  transition: 0.2s ease;
}

li:hover {
  background: #c94644;
  border-color: #5b3a38;
}
